<div class='container'>
    <div class="card">
        <div class="card-header">
            {{pageTitle}}
        </div>
        <div class="card-body">
            <div class="container-fluid">
            <div class="text-center">
                <img src="./assets/images/logo-banking.jpg"
                    class="img-responsive center-block"
                    style="max-height:400px;padding-bottom:50px" />
            </div>
        
            <div class="text-center">Team Development:</div>
            <div class="text-center">
                <h3>Alfredo Munares</h3>
            </div>
            <div class="text-center">
                <h3>......</h3>
            </div>
        
            <div class="text-center">&copy;Banking 2018</div>
            </div>
        </div>
    </div>
</div>